<!DOCTYPE html>
<html>
  <head>
    <title>UMovie</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <form>
                Search
                <input type="text" name="search">
                </form>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">UMovie</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/">Home</a></li>
	        <li><a href="/topRanked">Top Ranked</a></li>
	        <li><a href="/tagsMovie">Movie Tags</a></li> 
	      </ul>
	    </div>
	  </div>
	</nav>
    <div class="heading">
    	<% if (latestMovies == null) { %>
			<p>Welcome to the world of UMovie!</p> 
    	<% }
    		else { %>
    			<p>Welcome to the world of UMovie!</p>
    			<p>Latest top 5 movie</p>
    			<% for (var i = 0; i< latestMovies.length; i++) { %>
    				<p><%= latestMovies[i].name %></p> 
                    <form method="get" action="/homepage/:movie_id">
                        <button type="submit" name = "movie_id" value = <%= latestMovies[i].movie_id %> class="btn btn-warning btn-lg">See Results</button>
                    </form>
    				<p><%= latestMovies[i].abstraction %></p>
                    <p><%= latestMovies[i].rating %></p>  
                    <p><%= latestMovies[i].date %></p> 
                    <p><%= latestMovies[i].poster %></p> 
                <% } %>
            <% } %>
            <% if (search_results != null) { %>
                <p>Search results:</p>
                <% for (var i = 0; i< search_results.length; i++) { %>
                    <p><%= search_results[i].mname %></p> 
                    <p><%= search_results[i].rating %></p> 
                    <p><%= search_results[i].pname %></p> 
                    <p><%= search_results[i].i_job %></p> 
                    <p><%= search_results[i].rating %></p> 
                    <p><%= search_results[i].abstraction %></p> 
                    <p><%= search_results[i].date %></p> 
                    <p><%= search_results[i].poster %></p> 
                    <script type="text/javascript">
                    function load()
                    {
                    document.getElementById('image').src = latestMovies[i].poster;
                    }
                    </script>
                    <img src="nothing.jpg" id="image" name="image"/>
                <% } %>
            <% } %> 
    </div>
  </body>
</html>
