<!DOCTYPE html>
<html>
<head>
<title>UMovie</title>
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<form>
	Search <input type="text" name="search">
</form>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">UMovie</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/topRanked">Top Ranked</a></li>
					<li><a href="/tagsMovie">Movie Tags</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="heading">
		<% var movie_id %> 
		<% if (!user) { %>
		<h2>Welcome! Please log in.</h2>
		<a href="/login">Login</a> <% } else { %>
		<h2>Hello, <%= user.displayName %>.</h2>
		<a href="/account">My Account</a> <a href="/logout">Logout</a> <% } %>

		<% if (movieDetail == null) { %> 
		<% } else { %> 
		<% for(var i=0; i<movieDetail.length; i++) { %> 
			<% movie_id =movieDetail[i].movie_id%>
			<p><%= movieDetail[i].name %></p>
			<img src="<%= movieDetail[i].poster %>" height="342" />
			<p>Rating: <%= movieDetail[i].rating %></p>
			<p>Abstraction: <%= movieDetail[i].abstraction %></p>
			<% } %> 
		<% } %> 

		
		<% if (taste == null) { %>
        <% } 
           else { %>
                <% for(var i=0; i<taste.length; i++) { %>
                <p>
                <form action= "/movies/addTaste" method="get" >
                <button type="submit" name = "likes" value = <%= 1 %> class="btn btn-warning btn-lg">Like: <%= taste[i].movie_likes %></button>
                <button type="submit" name = "dislikes" value = <%= 1 %> class="btn btn-warning btn-lg">Dislikes: <%= taste[i].movie_dislikes %></button>
                </form>
                </p>  
                <% } %>
        <% } %> 
		 

		<% if (person == null) { %> 
		<% } else { %>
			<p>Crew:</p>
			<% for(var i=0; i<person.length; i++) { %>
			<p><%= person[i].job %>: <%= person[i].pname %></p>
			<% } %> 
		<% } %> 

		<% if (reviews != null) { %>
		<p>Reviews:</p>
		<% for(var i=0; i<reviews.length; i++) { %>
			<p><%= reviews[i].content %></p>
			<% } %> 
		<% } %> 

		<% if (movieDetail != null) { %>
		<form action="/movies/addreview" method="get">
			<textarea name="review" id="review"
				style="width: 96%; height: 90px; background-color: gold; color: olive; border: none; font: 22px/30px sans-serif;">
            </textarea>
			<button type="submit" name="movie_id" value=<%= movie_id%>
				style="background-color:yellowgreen;color:white;padding:5px;font-size:18px;border:none;padding:8px;">Submit
			</button>
		</form>
		<% } %> 

		<% if (search_results != null) { %>
			<p>Search results:</p>
			<% for (var i = 0; i< search_results.length; i++) { %>
				<p><%= search_results[i].mname %></p>
				<img src="<%= search_results[i].poster %>" height="342" />
				<form method="get" action="/movies">
				<button type="submit" name="movie_id" value=<%= search_results[i].movie_id %> class="btn btn-warning btn-lg">See more</button>
				</form>
				<p><%= search_results[i].rating %></p> 
				<p><%= search_results[i].abstraction %></p>
				<p><%= search_results[i].date %></p>
			<% } %>
		<% } %>
	</div>
</body>
</html>
