<!DOCTYPE html>
<html>
<head>
<title>UMovie</title>
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<form>
	Search <input type="text" name="search">
</form>
<form>
	Bing Search <input type="text" name="bingSearch">
</form>
</head>
<body>

	<% if (!user) { %>
		<p>Login or Register with:</p>
        <a href="/log_in" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
      	 <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		<% } else { %>
			<h2>Hello, <%= user.email %>.</h2>
			<a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> My Account</a>
			<a href="/log_out" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
		<% } %>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">UMovie</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/topRanked">Top Ranked</a></li>
					<li><a href="/tagsMovie">Movie Tags</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="heading">
		<% var movie_id %> 

		<% if (movieDetail == null) { %> 
		<% } else { %> 
		<% for(var i=0; i<movieDetail.length; i++) { %> 
			<% movie_id =movieDetail[i].movie_id%>
			<p><%= movieDetail[i].name %></p>
			<img src="<%= movieDetail[i].poster %>" height="342" />
			<p>Rating: <%= movieDetail[i].rating %></p>
			<p>Abstraction: <%= movieDetail[i].abstraction %></p>
			<% var name= movieDetail[i].name.split(' ').join("%20")%>
			<p><a href =<%= "/bing/"+name+"/"+movieDetail[i].movie_id %>>Bing Search</a></p>
			<% } %> 
		<% } %> 
	
		<% if (taste == null) { %>
        <% } 
           else { %>
                <% for(var i=0; i<taste.length; i++) { %>
                <p>
                <form action= "/movies/addTaste" method="get" >
                <button type="submit" name = "likes" value = <%= 1 %> class="btn btn-warning btn-lg">Like: <%= taste[i].movie_likes %></button>
                <button type="submit" name = "dislikes" value = <%= 1 %> class="btn btn-warning btn-lg">Dislikes: <%= taste[i].movie_dislikes %></button>
                </form>
                </p>  
                <% } %>
        <% } %> 
		 
		<% if (person == null) { %> 
		<% } else { %>
			<p>Crew:</p>
			<% for(var i=0; i<person.length; i++) { %>
			<p><%= person[i].job %>: <%= person[i].pname %></p>
			<% } %> 
		<% } %> 


		<% if (studios == null) { %> 
		<% } else { %>
			<p>Studios:</p>
			<% for(var i=0; i<studios.length; i++) { %>
			<p><%= studios[i]%></p>
			<% } %> 
		<% } %> 

		<% if (reviews != null) { %>
			<p>Reviews:</p>
			<% for(var i=0; i<reviews.length; i++) { %>
				<p><%= reviews[i].content %></p>
				<% if(reviews[i].review_count == 0) { %>
					<p>Rating: 0</p>
				<% }
				else { %>
					<p>Rating: <%= Number(reviews[i].review_rating / reviews[i].review_count).toFixed(1) %></p>
				<% } %>
				<form action="/movies/addrating" method="get">
					<span class="star-rating">
		  				<input type="radio" name="rating" value="1"><i></i>
		  				<input type="radio" name="rating" value="2"><i></i>
		  				<input type="radio" name="rating" value="3"><i></i>
		  				<input type="radio" name="rating" value="4"><i></i>
		  				<input type="radio" name="rating" value="5"><i></i>
					</span>
						<button type = "submit" name="review_id" value=<%= reviews[i].review_id %>
							style="background-color:yellowgreen;color:white;padding:5px;font-size:18px;border:none;padding:8px;" >Submit
						</button>

				</form>
			<% } %> 
		<% } %> 




		<% if (movieDetail != null) { %>
		<form action="/movies/addreview" method="get">
			<textarea name="review" id="review"
				style="width: 96%; height: 90px; background-color: gold; color: olive; border: none; font: 22px/30px sans-serif;">
            </textarea>
			<button type="submit" name="movie_id" value=<%= movie_id%>
				style="background-color:yellowgreen;color:white;padding:5px;font-size:18px;border:none;padding:8px;">Submit
			</button>
		</form>
		<% } %> 

		<% if (search_results != null) { %>
			<p>Search results:</p>
			<% for (var i = 0; i< search_results.length; i++) { %>
				<p><%= search_results[i].mname %></p>
				<img src="<%= search_results[i].poster %>" height="342" />
				<form method="get" action="/movies">
				<button type="submit" name="movie_id" value=<%= search_results[i].movie_id %> class="btn btn-warning btn-lg">See more</button>
				</form>
				<p><%= search_results[i].rating %></p> 
				<p><%= search_results[i].abstraction %></p>
				<p><%= search_results[i].date %></p>
			<% } %>
		<% } %>
		
		<% if (bing_search_results != null) { %>
			<p>Bing Search results:</p>
			<% for (var i = 0; i< bing_search_results.length; i++) { %>
			<table>
				 <tr>
     			 <td><a href =<%=  bing_search_results[i].Url%>><%= bing_search_results[i].Title%></a></td>
     			 <td><%= bing_search_results[i].Description %></td>
    			</tr>
    		</table>
			<% } %>
		<% } %>
	</div>
</body>
</html>
